<div class="panel-top">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">族列表</span>
        </div>

        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>族ID</th>
                    <th>族名</th>
                    <th>上传者</th>
                    <th>下载次数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="family in families track by $index">
                    <td>{{family.id}}</td>
                    <td>{{family.name}}</td>
                    <td>{{family.uploader}}</td>
                    <td>{{family.downloadCount}}</td>
                    <td>
                        <a class="btn btn-default" ui-sref="home.family-detail">查看</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>