<div style="background-color: #f6f8f8; padding: 0 22px;" ng-controller="mailSendController">
    <!-- header -->
    <div class="padder-v bg-light lter b-b">
        <div class="btn-group m-r-sm">
            <a href class="btn btn-sm btn-default w-xxs w-auto-xs">
                <i class="glyphicon glyphicon-floppy-save"></i>
            </a>
            <a ui-sref="home.mail.list" class="btn btn-sm btn-default w-xxs w-auto-xs">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>

    <form name="newMail" class="m-t-lg">
        <div class="form-group">
            <label class="control-label">收件人:</label>
            <div>
                <input type="text" class="form-control" ng-model="mail.to">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">主题:</label>
            <div>
                <input type="text" class="form-control" ng-model="mail.subject">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">邮件正文:</label>
            <div>
                <div id="editor-trigger" ng-model="mail.content" content-editable="true" style="height: 300px;"></div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <button class="btn btn-info w-xs" ng-click="sendMail(mail)">发送</button>
            </div>
        </div>
    </form>

    <hr>
    <p><b>以下是编辑器的内容：</b></p>
    <p ng-bind="mail.content"></p>
</div>