<div class="container" style="padding: 0;">
    <div class="row">
        <div class="col-sm-2" style="margin: 0;" ng-controller="mailController">
            <div class="wrapper b-b bg">
                <a ui-sref="home.mail.send" class="btn btn-sm btn-danger w-xs">写邮件</a>
            </div>
            <div class="wrapper hidden-sm hidden-xs" id="mail-menu">
                <ul class="nav nav-pills nav-stacked nav-sm">
                    <li ng-repeat="fold in folds" ui-sref-active="active">
                        <a ui-sref="home.mail.list({fold:fold.filter})">
                            {{fold.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10" ui-view></div>
    </div>
</div>
