<h3>邮件列表</h3>
<!-- list -->
<div ng-controller="mailListController">
    <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
        <li ng-repeat="mail in mails" class="list-group-item clearfix b-l-3x">
            <a href="https://mail.qq.com" class="avatar thumb pull-left m-r" target="_blank">
                <img ng-src="{{mail.avatar}}">
            </a>
            <div class="pull-right text-sm text-muted">
                <span class="hidden-xs">{{mail.date}}</span>
                <i class="fa fa-paperclip ng-hide m-l-sm"></i>
            </div>
            <div class="clear">
                <div>
                    <a href="https://mail.qq.com" class="text-md" target="_blank">{{mail.subject}}</a>
                    <span class="label bg-light m-l-sm">{{mail.label}}</span>
                </div>
                <div class="text-ellipsis m-t-xs">{{mail.content | limitTo:100}}</div>
            </div>
        </li>
    </ul>
</div>

<form method="post" action="/sys/mail/show/img" enctype="multipart/form-data">
    <input type="file" name="image" value="选择文件"><br>
    <input type="submit" value="提交">
</form>