<div class="container panel-top">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" ng-show="!loading">
                <div class="panel-heading">
                    <span class="panel-title">用户列表</span>
                    <span>
                        <a class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#user-edit"
                           style="float: right;"
                           ng-click="addForm('添加')">用户添加</a>
                    </span>
                </div>

                <div class="panel-body">
                    <table class="table table-responsive" style="table-layout: fixed">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>用户角色</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in userList track by $index">
                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.password}}</td>
                            <td>{{user.role.name}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="operate-user"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        操作
                                        <i class="caret"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="operate-user">
                                        <li>
                                            <a data-toggle="modal" data-target="#user-edit"
                                               ng-click="editForm('修改',user)">用户编辑</a>
                                        </li>
                                        <li><a ng-click="deleteUser(user)">用户删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <!--items-per-page $ C  (Default: 10) - 每页最大显示条数的数量。值小于1表明所有项目在一个页上。
                    last-text C (Default: Last) - 最后一个按钮的文本。
                    max-size $  (Default: null) - 限制分页按钮显示的数量大小。
                    next-text C (Default: Next) - 下一个按钮的文本
                    ng-change $ - 点击分页按钮触发的方法，可用于更改不同页面数据,用ng-click也可以有一样的效果
                    ng-disabled $  (Default: false) - 用于禁用分页组件。
                    ng-model $  -  当前页数. 第一页为1（即从1开始计算而不是0）.
                    num-pages $ readonly (Default: angular.noop) ==>  一个可选的配置，显示页面总数(这是个只读项，并不是可以通过设置页面数和当前页配置分页).
                    page-label (Default: angular.identity) - 可选的表达式，以覆盖基于传递当前页面索引的页标签。-->

                <div class="pull-right">
                    <ul uib-pagination total-items="totalItems"
                        items-per-page="itemsPerPage"
                        ng-model="currentPage"
                        max-size="maxSize"
                        boundary-links="true"
                        previous-text="上一页"
                        next-text="下一页"
                        first-text="首页"
                        last-text="尾页"
                        ng-change="getUserListByPage(currentPage,10)">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<!-- 编辑用户的模态框 -->
<div class="modal fade" id="user-edit" tabindex="-1" role="dialog" aria-labelledby="user-edit-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="user-edit-title">{{userEditTitle}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input id="username" type="text" class="form-control" placeholder="请输入用户名"
                               ng-model="userData.username" ng-disabled="isEditMode">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input id="password" type="password" class="form-control" placeholder="请输入密码"
                               ng-model="userData.password">
                    </div>
                    <div class="form-group">
                        <label for="role">用户角色</label>
                        <select id="role" class="form-control" ng-model="userData.role.name">
                            <option>普通用户</option>
                            <option>注册会员</option>
                            <option>管理员</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="submitForm(userData)">{{btnText}}</button>
            </div>
        </div>
    </div>
</div>

