<div class="container panel-top">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" ng-show="!loading">
                <div class="panel-heading">
                    <span class="panel-title">用户列表</span>
                    <span>
                        <a class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#user-edit"
                           style="float: right;"
                           ng-click="addForm('添加')">用户添加</a>
                    </span>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive" style="table-layout: fixed">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>用户角色</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in userList track by $index">
                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.password}}</td>
                            <td>{{user.role.name}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="operate-user"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        操作
                                        <i class="caret"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="operate-user">
                                        <li>
                                            <a data-toggle="modal" data-target="#user-edit"
                                               ng-click="editForm('修改',user)">用户编辑</a>
                                        </li>
                                        <li><a ng-click="deleteUser(user)">用户删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner" ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>

<!-- 编辑用户的模态框 -->
<div class="modal fade" id="user-edit" tabindex="-1" role="dialog" aria-labelledby="user-edit-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="user-edit-title">{{userEditTitle}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input id="username" type="text" class="form-control" placeholder="请输入用户名"
                               ng-model="userData.username" ng-disabled="isEditMode">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input id="password" type="password" class="form-control" placeholder="请输入密码"
                               ng-model="userData.password">
                    </div>
                    <div class="form-group">
                        <label for="role">用户角色</label>
                        <select id="role" class="form-control" ng-model="userData.role.name">
                            <option>普通用户</option>
                            <option>注册会员</option>
                            <option>管理员</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="submitForm(userData)">{{btnText}}</button>
            </div>
        </div>
    </div>
</div>

