<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skypiea.system.mapper.MenuMapper">

    <!--查找所有菜单项-->
    <select id="findAllMenus" resultType="MenuInfo">
        SELECT * FROM t_menu;
    </select>

</mapper>

