<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ui-sref-active="active">
            <a ui-sref="home.my">
                <i class="glyphicon glyphicon-user icon-primary-dashbord"></i>
                <span class="menu-title">我的</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="home.family">
                <i class="glyphicon glyphicon-file icon-primary-file"></i>
                <span class="menu-title">文件</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <!--<a ui-sref="home.reports">Reports</a>-->
            <a ui-sref="home.photo">
                <i class="glyphicon glyphicon-camera icon-primary-photo"></i>
                <span class="menu-title">照片</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="home.music">
                <i class="glyphicon glyphicon-music icon-primary-music"></i>
                <span class="menu-title">音乐</span>
            </a>
        </li>
    </ul>
</div>